{% extends 'profile.html' %}
{% block script %}
<script type="text/javascript">
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light2", "dark1", "dark2"
	animationEnabled: false, // change to true
    axisY:{
	    title: "Distance",
        minimum: {{ minimal - 1}},
        maximum: {{ maximal }}
    },

	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.


		dataPoints: [
            {% for u in data %}
			{
			    label: '{{ u["user"]}}',
                {#y:{{ u['stats']['similar_ratings'] }},#}
                {#x:{{ u['stats']['similar_films'] }},#}
                y: {{  u["score"]}}
            },
            {% endfor %}

		]
	}
	]
});
chart.render();

}
</script>
{% endblock %}
{% block user_data %}
    <div class=" py-3  mx-auto text-center" style="max-width: 700px">
      <h3 class="display-4">Recommendations</h3>
      <p class="lead">The list of users having the most number of ratings match with {{ user.name }} {{ user.surname }}'s ratings. Their watch lists may be interesting for this user.</p>
    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>




    <table class="table table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Distanse</th>
      </tr>
    </thead>
    <tbody>
    {% for u in data %}
      <tr>
          <td onclick="location.href='{{ url_for('user_watch_lists', nickname=u["user"])}}'" >{{ u["user"] }}</td>
          <td>{{ u["score"] }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}