{% extends 'profile.html' %}
{% block style %}
    @media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
{% endblock %}

{% block user_data %}
    {% if data["wlists_with_rating"] %}
    <div class="card-columns">
    {% for w in data["wlists_with_rating"]%}
      <div class="card border-secondary mb-3"  onclick="location.href='{{ url_for('watch_list', nickname=data["nickname"], watch_list_id=w["watch_list_id"]) }}'">
          <div class="card-header text-center">
              {{ w["watch_list_id"] }}
          </div>
          <div class="card-body text-center">
          Rating:
            <span class="badge
                  {% if w["rating"] == 'Not rated' %}
                  badge-secondary
                  {% elif  w["rating"]>4%}
                  badge-success
                  {% elif  w["rating"]>2%}
                  badge-warning
                  {% else  %}
                  badge-danger
                  {% endif %}
                  ">
                    {{  w["rating"]|round(2) }}
                </span>
        </div>
      </div>
    {% endfor %}
    </div>
    {% else %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px">
      <h3 class="display-4">No Watch Lists</h3>
      <p class="lead">Create your first watch list to add films in it!</p>
    </div>
    {% endif %}
{% endblock %}