{% extends 'profile.html' %}


{% block user_data %}
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Film id</th>
        <th>Name</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
    {% if data["movies_and_ratings"] %}
    {% for f in data["movies_and_ratings"] %}
      <tr>
          <td>{{ f["film_id:"] }}</td>
          <td>{{ f["film_name"] }}</td>
          <td><span class="badge
              {% if f["rating"] == 'Not rated' %}
              badge-secondary
              {% elif  f["rating"]>4%}
              badge-success
              {% elif  f["rating"]>2%}
              badge-warning
              {% else  %}
              badge-danger
              {% endif %}
              ">
                {{ f["rating"] }} </span>
          </td>
      </tr>
    {% endfor %}
    {% else %}
        <p align="center">No records</p>
    {% endif %}
    </tbody>
  </table>
{% endblock %}