<!doctype html>
<head>
<title>{% block title %}{% endblock %} - Flaskr</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}


<style>
    .border-bottom { border-bottom: 1px solid #e5e5e5; }

    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(0, 0, 0, .01);
  border-right: 1px solid #e5e5e5;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 1%;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;

  color: #333;
}

    {% block style %}
    {% endblock %}
</style>


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Kinopoisk</h5>
    {% if session["nickname"] %}
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Films</a>
        <a class="p-2 text-dark" href="#">Users</a>
        <a class="p-2 text-dark" href="{{ url_for('statistics') }}">Statistics</a>
        <a class="p-4 text-dark" href="{{ url_for('user_watch_lists', nickname=session["nickname"]) }}">{{ session["nickname"] }}</a>
        <a class="btn btn-outline-primary" href="{{ url_for('logout') }}">Log Out</a>
    {% endif %}
      </nav>
</div>



  <header>
    {% block header %}

    {% endblock %}
  </header>
</head>
<body>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}

  {% endblock %}

</body>