{% extends 'base.html' %}
{% block style %}


{% endblock %}
{% block content %}



     <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" style="background-color: rgba(0, 0, 0, .01)">
          <ul class="nav nav-pills flex-column">
            {% if user %}
                      <li class="nav-item active">
                        <p class="navbar-brand">{{user.name }} {{user.surname }}</p>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_watch_lists', nickname=user.nickname) }}">Watch Lists</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('recommendation', nickname=user.nickname) }}">Recommendations</a>
                      </li>
                      {% elif data %}
                      <li class="nav-item active">
                        <p class="navbar-brand">{{ data["name"] }} {{ data["surname"]}}</p>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_watch_lists', nickname=data["nickname"]) }}">Watch Lists</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('recommendation', nickname=data["nickname"]) }}">Recommendations</a>
                      </li>
                      {% endif %}

          </ul>
        </nav>

				<!-- END MENU -->


		 <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" >

                   {% block user_data %}
                   {% endblock %}

         </main>
		</div>
    </div>

{% endblock %}