{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px">
      <h1 class="display-4">Database Statistic</h1>
      <p class="lead">This page shows the current number of items in each of the 4 categories. As content is added or removed from the database, these numbers may change.</p>
    </div>
        <div class="card-deck mb-3 text-center">
        {% for key,value in data.items() %}
          <div class="card border-secondary mb-3">
              <div class="card-header">
                  <h4 class="my-0 font-weight-normal ">
                    {{ key }}
                  </h4>
              </div>
              <div class="card-body text-center">
                <h1 class="card-title">
                    {{ value }}
                  </h1>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}