{% include 'base.html' %}
{% block content %}

        <div class="card bg-light text-dark auth_card mx-auto" style="max-width: 700px">
        <div class="card-header " >
            <ul class="nav nav-tabs ">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('registration') }}">Registration</a>
              </li>
            </ul>
        </div>
        <div class="card-body">
         <form method="post">
             <div class="form-group">
                 <label for="nickname">Nickname: </label>
                 <input type=text class="form-control" name=nickname id="nickname">
             </div>
             <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" name=password id="pwd">
             </div>

             <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

{% endblock %}